//>>>>> Component Button Here <<<<<//
.theme-btn {
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-transform: capitalize;
    text-align: center;
    background-color: $theme-color;
    color: $white;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding: 21.5px 60px;
    min-width: 195px;
    border-radius: 30px;
    @include transition;

    &:before {
        content: "";
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: $white;
        z-index: -1;
        transition: all 0.4s ease-out;
        border-radius: inherit;
    }

    &:hover {
        color: $header-color;
        box-shadow: none;

        &::before {
            width: 100%;
        }
    }


    @include breakpoint (max-md){
        padding: 20px 32px;
    }

    @include breakpoint (max-sm){
        padding: 18px 30px;
        font-size: 14px;
    }
}


//>>>>> Component Button End <<<<<//